@use '../abstract/variables' as *;

.aboutMe{
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: $babyLilac;
    margin: 4rem 5rem;
    box-shadow: -2px 1px 15px $boxShadow;
    border-radius: 15px;
    h2{
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
    .wrapper{
        align-items: center;
        width: 60%;
    }
    .aboutMeContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-indent: 4rem;
        padding-top: 2rem;
        margin: 3rem;
        z-index: 30;    
        p{
            float: left;
            flex-basis:100%;
            line-height: 1.7;
        }
    }
}