@use '../abstract/variables' as *;

.aboutMe{
    display: flex;
    align-items: center;
    height: 50vh;
    height: 1800px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border: 5px solid purple;
    background-color: $babyLilac;
    .wrapper{
        align-items: center;
        border: 5px solid green;
    }
    .aboutMeContent{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        border: 2px solid blue;
    }
}