@use '../abstract/variables' as *;

.aboutMe{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    // border: 5px solid purple;
    background-color: $babyLilac;
    .wrapper{
        // border: 5px solid green;
        flex-direction: row;
    }
    .aboutMeContent{
        display: flex;
        align-items: center;
        margin-left: -10rem;
        padding: 3rem;
        z-index: 30;
       p{
        padding-left: 7rem;
        text-align: end;
       }
    }
}