@use "../abstract/variables" as *;

.contactMe{
    background-color: $peach;
    text-align: center;
    h2{
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 2rem;
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .formContent{
        flex-direction: column;
        margin-top: 1rem;
    }
    form{
        width: 50%;
        margin-top: 6rem;
        margin-bottom: 5rem;
        p{
            margin-top: 2rem;
        }
    }
    fieldset{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-radius: 15px;
        border: 3px solid #a8657a;
        &:hover, 
        &:focus{
            transition: 0.4s;
            border: 4px solid #a8657a;
            transform: scale(1.02);
        }
        .topRow{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            height: 3rem;
        }
        input{
            flex-basis: 100%;
            padding-left: 1.2rem;
            &:first-of-type {
            margin-right: 1rem;
            }
        }
        textarea{
            flex-basis: 100%;
            padding-top: 1rem;
            padding-left: 1rem;
            resize: none;
        }
        button{
            width: 50%;
            margin-top: 2rem;
            align-self: center;
        }
        textarea, input{
            font-style: italic;
            font-weight: 500;
            text-shadow: .4px .4px .3px;
            font-size: 1.1rem;
            border-radius: 13px;
            &:hover, &:focus {
                outline: none;
                border-color: #e67e22;
                transition: 0.4s;
            }
        }
    }
}