@use "../abstract/variables" as *;

header {
    height: 100vh;
    background-image: url("./sass/assets/layered-waves-haikei(8).svg");
    background-color: $lightSand;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    .wrapper{
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        .headerContent{
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            padding-right: 6rem;
            width: 100%;
            margin-top: 58vh; 
            border-radius: 5%;
        }
        .greeting{
            display: flex;
            flex-direction: column;
            justify-content: center;  
            text-align: right;
            margin: 0;
            h1,h3{
                margin: .3rem;
            }
            h3{
                padding-right: 2rem;
                text-decoration: none;
                text-shadow: $boxShadow -2px 1px 3px;
            }
        }
    }          
}
