@use "../abstract/variables" as *;

header {
    height: 100vh;
    .wrapper{
        justify-content: center;
        width: 100%;
    }
    .headerImage{
        position: absolute;
        z-index: -10;
        object-fit: cover;
        width: 100vw;
        img{
            display: block;
            width: 100%;
        }
    }
    .headerContent{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin-top: 30rem;   
        // border: 5px solid red;  
        background-color: $headerContent;
        border-radius: 5%;
    }
    .greeting{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        // border: 2px solid blue;
        text-align: center;
        h1,h3{
            margin: .5rem;
        }
    }   
    .doubleArrowDown{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        // padding-bottom: 2rem;
        // border: 2px solid purple;
    }               
}