@use "../abstract/variables" as *;

header {
    nav{
	    position: fixed;
        position: -webkit-fixed;
	    top: 0;
        z-index: 50;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 2000px;
        width: 100%;
        height: 10vh;
        padding: 4rem;
        
    }
    .wrapper{
        justify-content: center;
        background-color: $lightSand;
        height: 100%;
    }
    .headerContent{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 60vh;
        height: 50vh;
        width: 60%;
        margin-top: 18rem;   
        border: 5px solid red;                     
    }
// background-image: url('../../../Ellipse\ 1.svg');
height: 95vh;
}