@use "../abstract/variables" as *;

nav{
	    position: fixed;
        position: -webkit-fixed;
	    top: 0;
        z-index: 50;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        height: 12vh;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: rgba($color: $lightPeach, $alpha: 0.6);
        backdrop-filter: blur(4px);
        box-shadow: 8px 8px 9px  $darkSand;
        .navList{
            display: flex;
            list-style-type: none;
        }
        .hamburgerMenu {
            padding: 0.3em;
       }
    }