@use "../abstract/variables" as *;

nav{
	    position: fixed;
        position: -webkit-fixed;
	    top: 0;
        z-index: 50;
        display: flex;
        justify-content: space-around;
        align-items: center;
<<<<<<< HEAD
        padding: 1.5rem 4rem;
        background: rgba(251, 225, 225, 0.5);
=======
        box-sizing: border-box;
        height: 10vh;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: rgba(255, 255, 255, 0.5);
>>>>>>> 93d4e6c5c358e9cc1402c66894a57c2fc7ad3a91
        backdrop-filter: blur(4px);
        box-shadow: 8px 8px 8px  $darkSemiSand;
        .navList{
            display: flex;
            list-style-type: none;
        }
        .hamburgerMenu {
            padding: 0.3em;
       }
    }