@use "../abstract/variables" as *;

.projects {
    background-color: $babyBlue;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top: 2px solid $darkSemiSand;
    margin-top: -14rem;
    padding-bottom: 1rem;
    .wrapper{
        flex-direction: column;
        align-items: center; 
    }
    .carousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        background-color: $darkSemiSand;
        border-radius: 5%;
        margin-top: -15rem;
    }
    img{
            margin-right: 3rem;
            margin-left: 3rem;
        }
    .carouselNumDisplay{
        background-color: pink;
        text-align: center;
        width: 60%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        margin-top: 5rem;
    }
    .newCarousel{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
