@use "../abstract/variables" as *;

.projects {
    background-color: $babyBlue;
    margin: 3rem 5rem;
    box-shadow: -2px 1px 30px $darkSand;
    border-radius: 15px;
   .wrapper{
        flex-direction: column;
        align-items: center; 
        width: 100%;
    }
    .bottomContentRow{
        display: flex;
        margin: 1rem 0;
        width: 97%;
        justify-content: space-between;
        align-items: center;
    }
    .projectEven{
        display: flex;
        margin-bottom: 2rem;
        box-shadow: -1px 1px 10px 1px $boxShadow;
        border-radius: 15px;
        max-width: 97%;
        .projectImage{
            max-width: 70rem;
            min-height: 35rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: -60px 20px;
            }
        }
        .projectContent{
            flex-basis: 55%;
            min-width: 60rem;
            margin-left: -10rem;
            padding-right: 4rem;
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h3{
                margin: 1.5rem 0;
            }
            .languages{
                display: flex;
                justify-content: flex-end;
            }
            p{
                font-size: 1.7rem;
                margin: .5rem 0;
            }
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            display: flex;
            justify-content: flex-end;
            flex-basis: 12%;
            i{
                margin: 0 .5rem;
                font-size: 3.5rem;
            }
        }
    }

    .bottomContentRow2{
        display: flex;
        flex-direction: row-reverse;
        margin: 1rem 0;
        width: 97%;
        justify-content: space-between;
        align-items: center;
    }
    .projectOdd{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 2rem;
        box-shadow: -1px 1px 10px 1px $boxShadow;
        border-radius: 15px;
        max-width: 97%;
        .projectImage{
            max-width: 70rem;
            min-height: 35rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 60px 20px;
            }
        }
        .projectContent{
            flex-basis: 55%;
            min-width: 60rem;
            flex: 1;
            margin-right: -15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 5rem;
            h3{
                margin: 1.5rem 0;
            }
            p{
                text-align: left;
                font-size: 1.7rem;
                margin: .5rem;
            }
            .languages{
                display: flex;
                justify-content: flex-start;
            }
        }
        ul{
            margin: 0;
            padding: 0;
        }
         li{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-basis: 25%;
            i{
                margin: 0 .8rem;
                font-size: 3.5rem;
            }
        }
    }
}
