@use "../abstract/variables" as *;

.skills {
    background-color: $lightSand;
    border-top: 2px solid $darkSemiSand;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-top: -10rem;
    padding-top: 5rem;
    padding-bottom: 30rem;
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2{
        margin-bottom: 1.8rem;
        margin-top: 2.5rem;
    }
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 6rem;
        margin-top: 0;
    }
    li{
        display: flex;
        flex-basis: 7%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(10)
        {
            p{
                margin:0;
                // font-size: 0.9rem;
            }
        }
    }
}