@use "../abstract/variables" as *;

.skills {
    background-color: $lightSand;
    border-top: 2px solid $darkSemiSand;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-top: -10rem;
    padding-top: 5rem;
    padding-bottom: 35rem;
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2{
        margin-bottom: 1.8rem;
        margin-top: 2.5rem;
    }
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 6rem;
        margin-top: 0;
    }
    li{
        display: flex;
        flex-basis: 7.5%;
        height: 13rem;
        width: 11rem;
        flex-direction: column;
        align-items: center;
        color: $darkGray;
        justify-content: center;
        border: 3px solid $lightSand;
        border-radius: 50%;
        background-color: $peach;
            p{
                margin:0;
                font-size: 1.2rem;
                width: 50%;
            }
        &:nth-child(even) {
        transform: translateY(0); 
        transition: transform 0.7s ease-in-out; 
        animation: moveUp 1s ease-in-out infinite alternate;
        }

        &:nth-child(even):hover,
        &:nth-child(even):focus {
        transform: translateY(-20px); 
        }

        &:nth-child(odd) {
        transform: translateY(0); 
        transition: transform 0.3s ease-in-out; 
        animation: moveDown 1s ease-in-out infinite alternate;
        }

        &:nth-child(odd):hover,
        &:nth-child(odd):focus {
        transform: translateY(20px); 
        }
        }
    }