@use "../abstract/variables" as *;

    // Header 
        // Downward Button - moving up and down 
    @keyframes moveDown {
    0% { transform: translateY(50px); }
    100% { transform: translateY(20px); }
    }
        // Shaking Effect
    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }
        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }

    // Moving Left Animation
    @keyframes moveLeft {
        0% {
            transform: translateX(-.3rem);
            transform: translateY(-.3rem);

        }
        100% {
            transform: translateX(.7rem);
        }
    }
     @keyframes moveRight {
        0% {
            transform: translateX(.3rem);
            transform: translateY(.3rem);
        }
        100% {
            transform: translateX(.7rem);
        }
    }

    // Skills Moving Up and Down 
        @keyframes moveUp {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes moveDown {
            0% {
            transform: translateY(0);
            }
            100% {
                transform: translateY(20px);
            }
        }