@use "../abstract/variables" as *;

 .frame1{ 
               max-width: 450px;
               min-width: 350px;
               width: auto;
               height: 30rem;
               transform: rotate(1deg);
               background-color: red;
               border-radius: 40%;
               background-image: url("http://placekitten.com/200/300");
               background-repeat: no-repeat;
               background-size: cover;
            }