@use "../abstract/variables" as *;

.frame1{ 
      max-width: 450px;
      min-width: 350px;
      width: auto;
      height: 40rem;
      transform: rotate(1deg);
      background-color: red;
      border-radius: 40%;
      background-image: url("http://placekitten.com/200/300");
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: -8px 8px #9C6DA5;
      margin: 3rem;
      img{
            width: 100%;
      }
}
.carouselPhotos{
      width: 30vw;
      height: 60vh;
      margin-bottom: 5rem;
      background-color: olive;
      border-radius: 5%;
   }