@use "../abstract/variables" as *;

// Social Media Nav
.mediaNav{
    a{
        border: none;
        color: inherit;
        cursor: pointer;
            &:hover,
            &:focus{
                border-bottom: 2px solid #b28c99;           
            }
    }
}
// General 
    // Buttons 
    button {
        text-transform: uppercase;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: black;
        &:hover,
        &:focus{
            color: rgb(203, 136, 136)
        }
    }
    // General Anchor Element styling 
    a{
        cursor:pointer;  
        text-decoration: none;
        color: black;
        &:hover,
        &:focus{
            color: rgb(203, 136, 136);
            padding-bottom: 0.5rem;
        }
    }

    // General Icon Styling
    i, .skill{
        cursor: pointer;
        &:hover, 
        &:focus{
            color: #a8657a;
            transition-duration: .5s;
            transition-timing-function: ease-in-out;
            transform: scale(1.1);
        }
    }

// Section Specific
    // Navigation Links
    .navLinks{
        a{
            width: 100%;
            &:hover, 
            &:focus {
                border-bottom: 2px solid $boxShadow;
                transition-duration: .5s;
                transition-timing-function: ease-in-out;
                transform: scale(1.1);
            }
        }
    }
    // Header Down Indicating Button
    .doubleArrowDown{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4rem;
            padding: 1.3rem;
            border: 2px solid $peach;
            background-color: $lightSand;
            border-radius: 70%;
            box-shadow: -6px 4px $lightPeach;
            animation: moveDown 0.5s infinite alternate;
            &:hover,
            &:focus{
            border: 2px solid $peach;
            background-color: $lightPeach;
            border-radius: 50%;
            transform: scale(1.1);
            transition-duration: .1s;
            animation: shake 0.7s;
            }
            img{
                object-position: center;
                width: 100%;
                width: 9rem;
                height: 9rem;
            }
    }        
    // Projects Section Buttons 
    
        .links{
            display: flex;
            justify-content: space-between;
            width: 25.5%;
        }
        .link {
            background-image: linear-gradient(135deg, #008aff, $peach);
            border-radius: 6px;
            box-sizing: border-box;
            color: #ffffff;
            display: block;
            padding: 2rem 3.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            letter-spacing: 1.2px;
            padding: 4px;
            margin-right: 0;
            position: relative;
            text-decoration: none;
            width: 13rem;
            height: 4vh;
            z-index: 2;
        }

        .link:hover, 
        .link:focus {
            color: $black;
            font-weight: 600;
        }

        .span {
            align-items: center;
            background: $darkGray;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            height: 100%;
            transition: background 0.5s ease;
            width: 100%;
            margin-top: 0;
        }

        .link:hover .span, 
        .link:focus .span{
            background: transparent;
        }  

    // Form Submit Button
    .formButton{
        border-radius: 10px;
        background-color: $lightSand;
        width: 23%;
        margin-top: 2rem;
        align-self: center;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        text-shadow: .6px .6px .3px;
        &:hover,
        &:focus{
            background-color: #72384b;
            transform: scale(1.05);
            transition-duration: .4s;
            mark{
                color: $lightSand;
            }
        }
    }

    // Projects Section Carousel Buttons
    button .left{
        animation: moveLeft 0.4s ease-in-out infinite alternate;
    }
    button .right {
        animation: moveRight 0.4s ease-in-out infinite alternate;
    }