@use "../abstract/variables" as *;
// General 
button {
	text-transform: uppercase;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    &:hover,
    &:focus{
        color: red;
    }
}

a{
	cursor:pointer;  
	text-decoration: none;
	&:hover,
    &:focus{
        color: red;
		padding-bottom: 0.5rem;
    }
}
i, .skill{
    &:hover, 
    &:focus{
        color: #545629;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
		transform: scale(1.1);
    }
}
