@use "../abstract/variables" as *;
// Buttons 
button {
	text-transform: uppercase;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: black;
    &:hover,
    &:focus{
        color: rgb(203, 136, 136)
    }
}

.formButton{
    border-radius: 25px;
    background-color: $darkSemiSand;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    &:hover,
    &:focus{
        border: 2px solid $babyBlue;
        transform: scale(1.1);
        transition-duration: .4s;
    }
}

 .doubleArrowDown{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        padding: 1.3rem;
        border: 2px solid $peach;
        border-radius: 70%;
        box-shadow: -6px 4px $lightPeach;
        animation: moveDown 0.5s infinite alternate;
        &:hover,
        &:focus{
        border: 2px solid $peach;
        background-color: $lightPeach;
        border-radius: 50%;
        transform: scale(1.1);
        transition-duration: .1s;
        animation: shake 0.7s;
        }
        img{
            object-position: center;
        }
    }        

a{
	cursor:pointer;  
	text-decoration: none;
    color: black;
	&:hover,
    &:focus{
        color: rgb(203, 136, 136);
		padding-bottom: 0.5rem;
    }
}
i, .skill{
    &:hover, 
    &:focus{
        color: #545629;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
		transform: scale(1.1);
    }
}
