@use "../abstract/variables" as *;
// General Page 
html{
    scroll-behavior: smooth;
}
body{
    background-color: $lightSand;
    color: $mainBlack;
    background-image: url("./sass/assets/layered-waves-haikei(8).svg");
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    display: flex;
    max-width: 1800px;
    width: 95%;
    margin: 0 auto; 
}

// Specific Elements
span {
    display: block;
    margin-top: 2rem;
}

li {
    list-style-type: none;
}
