@use "../abstract/variables" as *;

p{
    font-size: 22px;
}

h1{
    text-transform: uppercase;
    font-size: 4rem;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
    // font-family: Dopperganger;
    text-shadow: red 2px 5px 4px;
}

h3{
<<<<<<< HEAD
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    // font-family: ;
    text-shadow: red 2px 5px 4px;
=======
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
>>>>>>> header
}

li{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

i{
    font-size: 4rem;
}
