@use "../abstract/variables" as *;

@font-face {
    font-family: 'Doppelganger';
    src: url('/fonts/Doppelganger-Display.eot');
    src: url('/fonts/Doppelganger-Display.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Doppelganger-Display.woff2') format('woff2'),
         url('/fonts/Doppelganger-Display.woff') format('woff'),
         url('/fonts/Doppelganger-Display.ttf')  format('truetype'),
         url('/fonts/Doppelganger-Display.svg#Display') format('svg');
}

html, body{
    font-size: 62.5%;
}

p{
    font-size: 2.2rem;
}

h1{
    text-transform: uppercase;
    font-size: 11rem;
    font-family: 'Doppelganger';
    font-weight: 800;
    text-shadow: $darkGray 2px 1px 1px;
}

h2{
    font-size: 10rem;
    text-transform: uppercase;
    font-family: 'Doppelganger';
    text-shadow: $darkGray 2px 1px 1.5px;
    font-weight: 700;
}

h3{
    text-transform: uppercase;
    font-style: italic;
    font-size: 6rem; 
    font-family: 'Doppelganger';
    text-shadow: $darkGray 2px 1px 2px;
    font-weight: 700;
}

li{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

i{
    font-size: 3rem;
}

.carouselNumDisplay {
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
}
