@use "../abstract/variables" as *;

@font-face {
    font-family: 'Greatly Desired';
    src: url('/newFonts/GreatlyDesiredRegular-JR47m.eot');
    src: url('/newFonts/GreatlyDesiredRegular-JR47m.eot?#iefix') format('embedded-opentype'),
         url('/newFonts/GreatlyDesiredRegular-JR47m.woff2') format('woff2'),
         url('/newFonts/GreatlyDesiredRegular-JR47m.woff') format('woff'),
         url('/newFonts/GreatlyDesiredRegular-JR47m.ttf')  format('truetype'),
         url('/newFonts/GreatlyDesiredRegular-JR47m.svg#Greatly Desired') format('svg');
}
// General
html, body{
    font-size: 62.5%;
}

p{
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5;
}

// Headings
h1{
    text-transform: uppercase;
    font-size: 19rem;
    font-family: 'Greatly Desired', sans-serif;
    font-weight: 400;
    text-shadow: $darkGray 2px 1px 1px;
}

h2{
    font-size: 11rem;
    text-transform: uppercase;
    font-family: 'Greatly Desired', sans-serif;
    text-shadow: $darkGray 2px 1px 1.5px;
    font-weight: 300;
}

h3{
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem; 
    font-family: 'Roboto', sans-serif;
    text-shadow: $darkGray 2px 1px 2px;
    font-weight: 400;
}
h4{
    font-size: 2rem;
}

// Other Elements 
li{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

i{
    font-size: 4rem;
}

.carouselNumDisplay {
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
}
