@use "./variables" as *;
/* Large tablet and medium desktops */
@media (max-width: 1200px) {
// General Typography
    h1{
        font-size: 10rem;
    }
    h2{
        font-size: 8rem;
    }
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.7rem;
    }

// Header Section
    header{
        nav{
            height: 12vh;
        }
        .headerContent{
            margin-top: 20rem;
        }
        .doubleArrowDown{
            margin-top: 6rem;
            width: 9rem;
            height: 9rem;
        }
    }
// About Me Section
    .aboutMe{
        padding-top: 3rem;
        padding-bottom: 14rem;
        .wrapper{
            flex-direction: column;
            width: 70%;
            .frame1{
                max-width: 380px;
                min-width: 300px;
                width: auto;
                height: 32rem;
                margin-bottom: 0;
            }
            .greeting{
                margin-top: 0;
                padding-top: 0;
            }
        }
        h2{
            margin-bottom: 0;
            margin-top: 1rem;
        }
        mark{
            font-size: 9rem;
            right: -.38em;
            top: -.38em;
        }
    }
// Skills Section
    .skills{
            padding-bottom: 29rem;
        li{
            flex-basis: 7%;
            height: 9rem;
            p{
                font-size: 1rem;
            }
            i{
                font-size: 3rem;
            }
        }
    }
// Projects Section
    .projects{
        .carousel{
        width: 75%;
        margin-top: -14rem;
        .carouselPhotos{
        width: 40vw;
        height: 50vh;
        margin-bottom: 5rem;
        }
        button {
            img {
                width: 8rem;
                height: 8rem;
            }
        }
        }
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
// General Typography
    h1{
        font-size: 9rem;
    }
    h2{
        font-size: 7rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.6rem;
    }
// Header Section
    header{
        nav{
            height: 10vh;
        }
        .headerContent{
            margin-top: 20rem;
        }
        .doubleArrowDown{
            margin-top: 5rem;
            width: 8rem;
            height: 8rem;
        }
    }
// About Me Section
    .aboutMe{
        padding-top: 3rem;
        padding-bottom: 14rem;
        .wrapper{
            width: 75%;
            .frame1{
                max-width: 330px;
                min-width: 270px;
                height: 30rem;
            }
        }
        mark{
            font-size: 7rem;
            right: -.10em;
            top: -.30em;
        }
    }
// Skills Section
    .skills{
        li{
            flex-basis: 7%;
            margin-top: 2rem;
            i{
                font-size: 3.5rem;
            }
        }
    }
// Projects Section
    .projects{
        .carousel{
        width: 80%;
        .carouselPhotos{
        width: 42vw;
        height: 47vh;
        }
        button {
            img {
                width: 6.5rem;
                height: 6.5rem;
            }
        }
        }
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
// General Typography
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 5.5rem;
    }
    h3{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.6rem;
    }
// Skills Section
    .skills{
        li{
            flex-basis: 10%;
            i{
                font-size: 3.5rem;
            }
        }
    }
// Projects Section
    .projects{
        .carousel{
        width: 87%;
            .carouselPhotos{
            width: 47vw;
            height: 42vh;
            }
            button {
                img {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    // General Typography
    h1{
        font-size: 7rem;
    }
    h2{
        font-size: 5rem;
    }
    p{
        font-size: 1.6rem;
    }

// Header Section
    header{
        nav{
            height: 8.5vh;
        }
        .headerContent{
            margin-top: 21rem;
        }
        .doubleArrowDown{
            width: 7.5rem;
            height: 7.5rem;
        }
    }
// About Me Section
    .aboutMe{
        padding-top: 3rem;
        padding-bottom: 14rem;
        .wrapper{
            flex-direction: column;
            width: 80%;
            .frame1{
                max-width: 350px;
                min-width: 270px;
                height: 29rem;
            }
        }
        mark{
            font-size: 5.5rem;
            right: 1.1em;
        }
    }
// Skills Section
    .skills{
            padding-bottom: 28rem;
        li{
            flex-basis: 14%;
            height: 8rem;
            i{
                font-size: 2.7rem;
            }
        }
    }
// Projects Section
    .projects{
        .carousel{
        width: 95%;
        .carouselNumDisplay{
            padding-top: .5rem;
        }
        .carouselPhotos{
        width: 52vw;
        height: 31vh;
        }
        button {
            img {
                width: 4rem;
                height: 4rem;
            }
        }
        }
    }
// Contact Me Section
    .contactMe{
        .wrapper{
            flex-direction: column;
        }
        form{
            width: 90%;
        }
        button{
            width: 90%;
            &:hover,
            &:focus{
            transform: scale(1.1);
            width: 60%;
            }
        }
    }
}

/* Small Screen phones*/
// @media (min-width: 330px) {

// }