// Background Colors 
$lightSand: #EEEBE5;
$darkSemiSand:  rgba(220, 217, 210, 0.8);
$darkSand: #BFBFBF;
$babyLilac: #e9d5fd;
$babyBlue: #CEE1ED;
$lightPeach: #F6E5BD;
$peach: #EBB861;
$headerContent: rgba($color: #f9f9f9, $alpha: 0.7);
$darkGray: #262626;
$boxShadow: #A2A2A2;

// Font Colors 
$mainBlack: #252525;