html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
}

span {
  display: block;
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

i:hover, i:focus {
  color: blue;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

p {
  font-size: 22px;
}

h1 {
  text-transform: uppercase;
  font-size: 9rem;
}

h2 {
  font-size: 8rem;
  text-transform: uppercase;
  text-shadow: red 2px 5px 4px;
}

h3 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 6rem;
}

li {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

i {
  font-size: 4rem;
}

mark {
  position: relative;
  background-color: #F1E3FF;
}

mark:after {
  border: 0.1em solid red;
  border-top: none;
  border-radius: 1.5em 1em 2em 1.5em;
  bottom: -0.3em;
  content: "";
  left: -0.2em;
  position: absolute;
  right: -0.3em;
  top: -0.1em;
}

mark:before {
  border-top: 0.1em solid red;
  border-radius: 0.5em;
  border-top-left-radius: 500em;
  content: "";
  height: 1em;
  left: -0.25em;
  position: absolute;
  top: -0.28em;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 2em;
}

.frame1 {
  max-width: 500px;
  min-width: 500px;
  width: 50rem;
  height: 39rem;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  background-color: red;
  border-radius: 40%;
  background-image: url("http://placekitten.com/200/300");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  text-transform: uppercase;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:hover, button:focus {
  color: red;
  border-bottom: black 3px solid;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  color: red;
  padding-bottom: 0.5rem;
  border-bottom: black 3px solid;
}

nav {
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 2000px;
  width: 100%;
  height: 10vh;
  padding: 4rem;
  border-bottom: 2px solid black;
}
nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
nav .hamburgerMenu {
  padding: 0.3em;
}

header {
  height: 100vh;
}
header .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
header .headerImage {
  position: absolute;
  z-index: -10;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
}
header .headerImage img {
  display: block;
  width: 100%;
}
header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 30rem;
  background-color: rgba(249, 249, 249, 0.7);
  border-radius: 5%;
}
header .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  text-align: center;
}
header .greeting h1, header .greeting h3 {
  margin: 0.5rem;
}
header .doubleArrowDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80vh;
  padding-top: 5rem;
  padding-bottom: 15rem;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: #F1E3FF;
}
.aboutMe .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.aboutMe .aboutMeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -10rem;
  padding: 3rem;
  z-index: 30;
}
.aboutMe .aboutMeContent p {
  padding-left: 7rem;
  text-align: end;
}

.skills {
  background-color: #EEEBE5;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  margin-top: -12rem;
  padding-top: 5rem;
  padding-bottom: 30rem;
}
.skills .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills h2 {
  margin-bottom: 1rem;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.skills ul lihover, .skills ul li:focus {
  color: aqua;
}

.projects {
  height: 100vh;
  background-color: #CEE1ED;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.projects .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: 80vh;
  border: 2px solid purple;
}
.projects .carousel .carouselNumDisplay {
  border: 2px solid navy;
  height: 5vh;
  width: 60%;
}
.projects .carousel .newCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .carousel .carouselPhotos {
  width: 30vw;
  height: 60vh;
  border: 2px solid olivedrab;
}

.contactMe {
  background-color: #EBB861;
}
.contactMe fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactMe fieldset button {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}